<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Metakaolin — Edit "{{ title }}"</title>
    <script src="{{app_url}}/d3.min.js"></script>
    <script src="{{app_url}}/fermata.min.js"></script>
    <script src="{{app_url}}/polymaps.min.js"></script>
    
    <!-- temporary: allow quicker local development -->
    <script src="../_attachments/d3.min.js"></script>
    <script src="../_attachments/fermata.min.js"></script>
    <script src="../_attachments/polymaps.min.js"></script>
    <!-- /temporary -->
    
    <style>
        #map { position: absolute; top: 3em; bottom: 1em; left: 0; right: 0; padding: 0; margin: 0; }
    </style>
</head>
<body>
    <form action="{{app_url}}/_update/content/{{id}}" method="POST">
        <a href="{{app_url}}/_list/summary/by_moddate">←</a>
        <!--<a href="{{app_url}}/_show/viewer/{{id}}">Cancel</a>-->
        <a href="{{app_url}}/_show/files/{{id}}">Files...</a>
        <input name="title" placeholder="Document title" size="140" value="{{ title }}"></input>
        <button>Save</button>
        <!--<textarea id="geojson_content" name="content" hidden>{{ content }}</textarea>-->
        <textarea id="geojson_content" name="content" hidden></textarea>    
    <form>
    <div id="map"></div>
    
    <script>
        var po_editor = function (geom) {
            var editor = po.layer(load);
            
            editor.tile(false);
            
            function load(tile, tileProj) {
                tile.element = po.svg('g');
                
                var proj = tileProj(tile);
                function update(coord, markerCircle, prevLine, nextLine) {
                    var pt = proj.locationPoint({lat:coord[1], lon:coord[0]});
                    markerCircle.setAttribute('cx', pt.x);
                    markerCircle.setAttribute('cy', pt.y);
                    if (nextLine) {
                        nextLine.setAttribute('x1', pt.x);
                        nextLine.setAttribute('y1', pt.y);
                    }
                    if (prevLine) {
                        prevLine.setAttribute('x2', pt.x);
                        prevLine.setAttribute('y2', pt.y);
                    }
                }
                
                var prevLine = null,
                    vertexInfo = geom.coordinates.map(function (c) {
                        var info = {
                            originalCoordinate: c,
                            marker: po.svg('circle'),
                            nextLine: po.svg('line'),
                            prevLine: prevLine
                        };
                        info.marker.setAttribute('r', 5);
                        info.nextLine.setAttribute('stroke', "grey");
                        prevLine = info.nextLine;
                        return info;
                    });
                vertexInfo[0].prevLine = prevLine;      // hook last line to first vertex
                
                vertexInfo.forEach(function (info) {
                    update(info.originalCoordinate, info.marker, info.prevLine, info.nextLine);
                    tile.element.appendChild(info.nextLine);
                });
                vertexInfo.forEach(function (info) {
                    tile.element.appendChild(info.marker);
                    info.marker.addEventListener('mousedown', function (e) {
                        info.marker.setAttribute('fill', "yellow");
                        info.editing = true;
                        e.preventDefault();
                        e.stopPropagation();
                    }, false);
                    info.marker.addEventListener('mousemove', function (e) {        // TODO: this needs to be registered on layer instead
                        if (!info.editing) return;
                        
                        var mouse = editor.map().mouse(e),
                            coord = editor.map().pointLocation(mouse);
                        console.log(mouse, coord);
                        info.originalCoordinate[0] = coord.lon;
                        info.originalCoordinate[1] = coord.lat;
                        update(info.originalCoordinate, info.marker, info.prevLine, info.nextLine);
                        e.preventDefault();
                        e.stopPropagation();
                    }, false);
                    info.marker.addEventListener('mouseup', function (e) {
                        info.marker.setAttribute('fill', '');
                        info.editing = false;
                        e.preventDefault();
                        e.stopPropagation();
                    }, false);
                });
                
                console.log("Loaded tile: ", tile.zoom, tile.row, tile.column);
            }
            
            return editor;
        };
    </script>
    <script>
        var po = org.polymaps,
            map = po.map().container(d3.select('#map').append("svg:svg").node());
        map.add(po.interact());
        map.add(po.image()
            .url(po.url("http://{S}tile.cloudmade.com"
            + "/51664f123b50414da85e963f92c721f0"
            + "/998/256/{Z}/{X}/{Y}.png")
            .hosts(["a.", "b.", "c.", ""])));
        
        var geojson_content = d3.select("#geojson_content").node();
        if (geojson_content.value) {
            // TODO: draw, zoom to existing data
        } else if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function (p) {
            map.center({lat:p.coords.latitude, lon:p.coords.longitude}).zoom(14);
            addEditablePoint();
        });
        
        // TEMPORARY: start prototyping basic editing with a lowly point
        function addEditablePoint () {
            var shape = {type:"LineString", coordinates:[]},
                size = 0.00125,
                center = map.center();
            shape.coordinates.push([center.lon - size, center.lat + size]);
            shape.coordinates.push([center.lon + size, center.lat + size]);
            shape.coordinates.push([center.lon + size, center.lat - size]);
            shape.coordinates.push([center.lon - size, center.lat - size]);
            shape.coordinates.push([center.lon - size, center.lat + size]);
            
            map.add(po_editor(shape));
            return;
            
            var vector = po.geoJson();
            map.add(vector);
            vector
                .on('load', po.stylist().attr('fill', "orange").attr('stroke', "red").attr('r', 5))
                .on('load', function (e) {
                    e.features.forEach(function (f) {
                        d3.select(f.element).on("click", function () {
                            console.log(this, arguments);
                        });
                    });
                });
            vector.features([{type:"Feature", geometry:{type:"Point", coordinates:[map.center().lon, map.center().lat]}, properties:null}]);
        }
    </script>
</body>
</html>